name: Tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run tox
      run: |
        tox
